
footer p{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
}
.footer__content{
    display: flex;
    gap: 317px;
    justify-content: center;
    margin-top: 140px;
    margin-bottom: 70px;

    @media (max-width: $breakpoint-xl) {
        gap: 220px;
    }
    @media (max-width: $breakpoint-lg) {
        gap: 30px;
    }
    @media (max-width: $breakpoint-md) {
        flex-direction: column;
    }
    @media (max-width: $breakpoint-sm) {
        margin-top: 70px;
    }
}
.footer__links{
    display: flex;
    gap: 130px;
    @media (max-width: $breakpoint-sm) {
        flex-direction: column;
        gap: 30px; 
    }
}
.LinksList{
    gap: 19px;
    display: flex;
    flex-direction: column;
    @media (max-width: $breakpoint-sm) {
        gap: 14px;
  }
}
.LinksList h3{
    margin-bottom: 11px;
    @media (max-width: $breakpoint-sm) {
        margin-bottom: 4px;
  }
}

.footer__ContactInfo{
    @media (max-width: $breakpoint-xl) {
        white-space: nowrap;
    }
}

.ContactInfo_place{
    display: flex;
    gap: 8px;
    @media (max-width: $breakpoint-md) {
        justify-content: center;
    }
    @media (max-width: $breakpoint-sm) {
        justify-content: left;
    }
}

.ContactInfo_phone{
    display: flex;
    gap: 8px;
    margin-top: 12px;
    margin-bottom: 20px;
    @media (max-width: $breakpoint-md) {
        justify-content: center;
    }
    @media (max-width: $breakpoint-sm) {
        justify-content: left;
    }
}

.ContactInfo_place p{
    margin-top: 2.5px;
    @media (max-width: $breakpoint-sm) {
        &::after{
            content: " undefiend";
        }
    }
}

.ContactInfo_phone p{
    margin-top: 3px;
}
.ContactInfo_links{
    gap: 8px;
    @media (max-width: $breakpoint-md) {
        display: flex;
        justify-content: center;
    }
    @media (max-width: $breakpoint-sm) {
        display: flex;
        justify-content: left;
    }
}