.promo{
    position: relative;
    @media (max-width: $breakpoint-md) {
        overflow-x: hidden;
    }
}
.promo__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    @media (max-width: $breakpoint-sm) {
        margin: 0 12px;
  }
}

.promo__content h1{
    margin-top: 200px;
    margin-bottom: 17px;
    @media (max-width: $breakpoint-md) {
        margin-bottom: 20px;
        font-size: 70px;
    }
    @media (max-width: $breakpoint-sm) {
        font-weight: 500;
        font-size: 52px;
        line-height: 62px;
        letter-spacing: 0.2px;
        margin-top: 155px;
        br{
            display: none;
        }
  }
}

.promo__content p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    margin-top: 0px;
    margin-bottom: 35px;
    @media (max-width: $breakpoint-md) {
        margin-bottom: 57px;
    }
    @media (max-width: $breakpoint-sm) {
        br{
            display: none;
        }    
    }
}

.button_try {
    background-color: #4452FE;
    padding: 20px 36px;
    @media (max-width: $breakpoint-md) {
        padding-left: 131px;
        padding-right: 131px;
    }
}
.button_learn {
    border: 1px solid white;
    padding: 20px 36px;
}

.promo__buttons{
    display: flex;
    gap: 35px;
    margin-bottom: 35px;
    @media (max-width: $breakpoint-md) {
        flex-direction: column;
        gap: 20px;
    }
    @media (max-width: $breakpoint-sm) {
        text-wrap: nowrap;
  }
}

.promo::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 551px;
    background: linear-gradient(to top, #0E0E0E, transparent);
    z-index: 1;
}

.promo img {
    margin-bottom: 152px;
    max-width: 100%;
    @media (max-width: $breakpoint-sm) {
        max-width: none;
        width: auto;
    }
    @media (max-width: $breakpoint-md) {
        margin-bottom: 0px;    
    }
}